<!-- IF MEDALS_TITLE -->
</dl>
</div>
<span class="clear"></span>
</div>
</div>
<div class="panel bg1">
	<div class="inner">
		<h3>{MEDALS_TITLE}</h3>
		<div></div>
		<div class="postbody">
			<dl class="details">
			{MEDALS}
			
				<center><!-- IF MEDALS_ADD --><a href="{MEDALS_EVENT_ADD_URL}">{L_ACP_EVENT_MEDALS_ADD}</a><!-- ENDIF --><!-- IF MEDALS_ADD && MEDALS_MODIFY --> | <!-- ENDIF --><!-- IF MEDALS_MODIFY --><a href="{MEDALS_EVENT_EDIT_URL}">{L_ACP_EVENT_MEDALS_EDIT}</a><!-- ENDIF -->
			
<!-- ENDIF -->
