<!-- IF MEDALS_TITLE -->
</dl>
</div>
<span class="clear"></span>
</div>
</div>
<div class="panel bg1" id="medals_container">
	<div class="inner" id="medals_inner">
		<h3 id="medals_title">{MEDALS_TITLE}</h3>
		<div></div>
		<div class="postbody">
			<dl class="details">
			<div id="medals_show">{MEDALS}</div>
			
				<center><!-- IF MEDALS_ADD --><a href="{MEDALS_EVENT_ADD_URL}">{L_ACP_EVENT_MEDALS_ADD}</a><!-- ENDIF --><!-- IF MEDALS_ADD && MEDALS_MODIFY --> | <!-- ENDIF --><!-- IF MEDALS_MODIFY --><a href="{MEDALS_EVENT_EDIT_URL}">{L_ACP_EVENT_MEDALS_EDIT}</a><!-- ENDIF -->
			
<!-- ENDIF -->
