<!-- INCLUDE ucp_header.html -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_MEDALS_TITLE}</h2>
<div class="panel">
	<div class="inner">
		<fieldset>
			<dl>
				<dt><label >{L_UCP_PROFILE_MEDALS_CONTROL}{L_COLON}</label><br /><span>{L_UCP_PROFILE_MEDALS_EXPLAIN}</span></dt>
				<dd>
					<select id="ucp_profile_view" name="ucp_profile_view">
						<option value="0"<!-- IF ZEBRA_ACL == 0 --> SELECTED<!-- ENDIF -->>{L_NONE}</option>
						<option value="1"<!-- IF ZEBRA_ACL == 1 --> SELECTED<!-- ENDIF -->>{L_NOT_ENEMY}</option>
						<option value="2"<!-- IF ZEBRA_ACL == 2 --> SELECTED<!-- ENDIF -->>{L_ALL}</option>
						<option value="3"<!-- IF ZEBRA_ACL == 3 --> SELECTED<!-- ENDIF -->>{L_FRIENDS}</option>
						<!-- IF S_EVENT_ZE == 1 -->
						<option value="4"<!-- IF ZEBRA_ACL == 4 --> SELECTED<!-- ENDIF -->>{L_SPECIAL_FRIENDS}</option>
						<!-- ENDIF -->
					</select>
				</dd>
			</dl>
		</fieldset>
	</div>

</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>
<!-- INCLUDE ucp_footer.html -->